<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet" />
  <link rel="stylesheet" href="../../css/style.css" />
</head>

<style>
  #cabecalho-imagem2 {
  background: url("../../images/instrucao.png")
    center/cover;
  }
  #cabecalho-imagem3 {
    background: url("../../images/instrucao.png")
      center/cover;
  }
</style>

<body>

  <div class="titulo">
      titulo_para_mudar
  </div>

  <div id="menu"><a id="inicio" href="../../index.html">Página Principal</a></div>

  <div class="container">
    <div class="card">
      <div class="card_capa">
        <div class="cabecalho-imagem" id="cabecalho-imagem1">
          <div class="overlay"></div>
        </div>
        <div class="titulo-wrap">
          <h1 class="titulo-artigo">Geoinfos</h1>
        </div>
        <p class="card_capa-resumo">
          Informações técnicas sobre relevo, população, IDH etc.<br /><br />
        </p>
      </div>
      <div class="card__conteudo">
        
        <div id="obs">Click em qualquer lugar para retornar</div>

        <!--TABELA-->
        <div class="conteudo_tabela">
          <table border="1" width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <th colspan="2" align="center">
                INFORMAÇÕES
              </th></tr>
            <tr>
              <td>Municípios limítrofes</td>
              <td> muni_limi </td>
            </tr>
            <tr>
              <td>Fundação</td>
              <td> fund_ </td>
            </tr>
            <tr>
              <td>População total</td>
              <td> pop_total </td>
            </tr>
            <tr>
              <td>Densidade</td>
              <td> dens_ </td>
            </tr>
            <tr>
              <td>Área total</td>
              <td> area_total </td>
            </tr>
            <tr>
              <td>Clima</td>
              <td> clima_ </td>
            </tr>
            <tr>
              <td>Altitude</td>
              <td> altitude_ </td>
            </tr>
            <tr>
              <td>IDH</td>
              <td> idh_ </td>
            </tr>
            <tr>
              <td>PIB</td>
              <td> pib_ </td>
            </tr>
          </table>
        </div>

        <div class="conteudo_tabela">
          <table border="1" width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <th colspan="2" align="center">
                INFORMAÇÕES TERRITÓRIAIS
              </th>
            </tr>
            
            _linhas_dados_territorio
          </table>
        </div>

        <div class="conteudo_tabela">
          <table border="1" width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <th colspan="2" align="center">
                INFORMAÇÕES DO MUNICÍPIO
              </th>
            </tr>
            
            _linhas_dados_municipio
          </table>
        </div>

        <div class="conteudo_tabela">
          <table border="1" width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <th colspan="2" align="center">
                INFORMAÇÕES DO ADMINISTRATIVAS
              </th>
            </tr>
            
            _linhas_dados_adm
          </table>
        </div>

        <div class="conteudo_tabela">
          <table border="1" width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <th colspan="2" align="center">
                INFORMAÇÕES DE TRANSPORTE
              </th>
            </tr>
            
            _linhas_dados_transporte
          </table>
        </div>

        <div class="conteudo_tabela">
          <table border="1" width="100%" cellspacing="0" cellpadding="4">
            <tr>
              <th colspan="3" align="center">
                INFORMAÇÕES DE DISTÂNCIA A OUTRAS CIDADES
              </th>
            </tr>
            
            _linhas_dados_info_distancia
          </table>
        </div>

      </div>
    </div>
    <!-- card 2-->
    <div class="card">
      <div class="card_capa">
        <div class="cabecalho-imagem" id="cabecalho-imagem2">
          <div class="overlay"></div>
        </div>
        <div class="titulo-wrap">
          <h1 class="titulo-artigo">História</h1>
        </div>
        <p class="card_capa-resumo">
          Conheça mais sobre a história da {CIDADE}. <br /><br />
        </p>
      </div>
      <div class="card__conteudo">
        <div id="obs">Click em qualquer lugar para retornar</div>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Molestias est incidunt odit ea
          adipisci animi nihil voluptates iure beatae explicabo asperiores
          enim ex placeat itaque minus error temporibus voluptate corporis
          suscipit commodi voluptatibus praesentium molestiae, perspiciatis
          nulla. Accusantium harum nisi maiores, velit perferendis, nesciunt
          ad, porro sequi aliquid maxime molestias!
        </p>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nobis
          fuga delectus tempore. Odio ipsa voluptate ex nobis ratione
          consequatur dignissimos dolorum culpa, ipsam sit dolorem itaque
          excepturi, natus sed deleniti incidunt ipsum asperiores! Molestiae
          cumque quam nulla, nam inventore. Necessitatibus blanditiis cumque
          laboriosam, id, ad unde quo ipsum nulla.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
          accusantium velit expedita, minima sapiente unde magnam dicta.
          Consequuntur cumque numquam sed deserunt, quidem officia illo
          blanditiis ipsum, commodi distinctio quam molestias dolore,
          doloremque corporis? Rem ad recusandae delectus accusamus, harum
          quisquam perferendis dolor aut consectetur nesciunt atque laborum ab
          dolores.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, neque,
          magnam. Impedit deleniti ad alias, unde vero quis mollitia, tenetur
          minima porro, officia iusto quae harum labore nostrum aliquid aut
          maxime, architecto in reprehenderit. Doloribus pariatur quam fuga
          sed modi veniam, vel corporis magnam quis eius cumque voluptate,
          dolore repellendus labore nobis, voluptatibus dicta sapiente
          doloremque! Enim dicta totam debitis cumque similique, natus,
          consequatur quidem cum incidunt, sint quos. Ea.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
          voluptatum possimus dolores nesciunt natus quaerat quas quo quam
          obcaecati ducimus totam quia sint, et nobis nisi tenetur id
          aspernatur quibusdam molestiae reprehenderit sed incidunt. Voluptas
          error necessitatibus sed inventore, quasi facilis, est. Asperiores
          atque laboriosam inventore quis eos nulla. Fuga neque odit maiores
          facilis voluptas nemo numquam, eos amet molestias.
        </p>
      </div>
    </div>
    <!-- card 3-->
    <div class="card">
      <div class="card_capa">
        <div class="cabecalho-imagem" id="cabecalho-imagem3">
          <div class="overlay"></div>
        </div>
        <div class="titulo-wrap">
          <h1 class="titulo-artigo">Pontos Turísticos</h1>
        </div>
        <p class="card_capa-resumo">
          Saiba mais sobre os melhores lugares e o que fazer em {CIDADE}. <br /><br />
        </p>
      </div>
      <div class="card__conteudo">
        <div id="obs">Click em qualquer lugar para retornar</div>
        <p>
          Lorem ipsum dolor sit amet,
          consectetur adipisicing elit. Molestias est incidunt odit ea
          adipisci animi nihil voluptates iure beatae explicabo asperiores
          enim ex placeat itaque minus error temporibus voluptate corporis
          suscipit commodi voluptatibus praesentium molestiae, perspiciatis
          nulla. Accusantium harum nisi maiores, velit perferendis, nesciunt
          ad, porro sequi aliquid maxime molestias!
        </p>
        <img src="https://diariodonordeste.verdesmares.com.br/image/contentid/policy:1.3004419:1609877687/beira-mar-fortaleza.jpg?f=16x9&h=720&q=0.8&w=1280&$p$f$h$q$w=31fc8c3"
          alt="" width="100%"/>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab nobis
          fuga delectus tempore. Odio ipsa voluptate ex nobis ratione
          consequatur dignissimos dolorum culpa, ipsam sit dolorem itaque
          excepturi, natus sed deleniti incidunt ipsum asperiores! Molestiae
          cumque quam nulla, nam inventore. Necessitatibus blanditiis cumque
          laboriosam, id, ad unde quo ipsum nulla.
        </p>
        <img src="https://static.rentcars.com/imagemns/modules/localidade/about/126-desktop-location-description.png"
          alt="" />
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum
          accusantium velit expedita, minima sapiente unde magnam dicta.
          Consequuntur cumque numquam sed deserunt, quidem officia illo
          blanditiis ipsum, commodi distinctio quam molestias dolore,
          doloremque corporis? Rem ad recusandae delectus accusamus, harum
          quisquam perferendis dolor aut consectetur nesciunt atque laborum ab
          dolores.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, neque,
          magnam. Impedit deleniti ad alias, unde vero quis mollitia, tenetur
          minima porro, officia iusto quae harum labore nostrum aliquid aut
          maxime, architecto in reprehenderit. Doloribus pariatur quam fuga
          sed modi veniam, vel corporis magnam quis eius cumque voluptate,
          dolore repellendus labore nobis, voluptatibus dicta sapiente
          doloremque! Enim dicta totam debitis cumque similique, natus,
          consequatur quidem cum incidunt, sint quos. Ea.
        </p>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident
          voluptatum possimus dolores nesciunt natus quaerat quas quo quam
          obcaecati ducimus totam quia sint, et nobis nisi tenetur id
          aspernatur quibusdam molestiae reprehenderit sed incidunt. Voluptas
          error necessitatibus sed inventore, quasi facilis, est. Asperiores
          atque laboriosam inventore quis eos nulla. Fuga neque odit maiores
          facilis voluptas nemo numquam, eos amet molestias.
        </p>
      </div>
    </div>
    <!-- card 4 -->
    <div class="card">
      <div class="card_capa">
        <div class="cabecalho-imagem" id="cabecalho-imagem4">
          <div class="overlay"></div>
        </div>
        <div class="titulo-wrap">
          <h1 class="titulo-artigo">Como Chegar?</h1>
        </div>
        <p class="card_capa-resumo">
          Veja como chegar nos melhores pontos de {CIDADE}
          <br /><br />
        </p>
      </div>
      <div class="card__conteudo">
        <div id="obs">Click em qualquer lugar para retornar</div>

        <!--MAPA-->
        <div class="mapa">
          <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d3139560.691846481!2d-39.82473225963473!3d-4.756021319014406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e2!4m5!1s0x7a1789b9e348137%3A0x6fac36329d98a8ea!2sJuazeiro%20do%20Norte%2C%20CE!3m2!1d-7.229036499999999!2d-39.312446099999995!4m5!1s0x7c74c3f464c783f%3A0x4661c60a0c6b37ca!2sFortaleza%20-%20CE!3m2!1d-3.7327203!2d-38.5270134!5e0!3m2!1spt-BR!2sbr!4v1622230421774!5m2!1spt-BR!2sbr"
          width="100%" height="600" style="border: 0" allowfullscreen="" loading="lazy"></iframe>
        </div>
        
      </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  <script>
    "use strict";

    $(".card").on("click", function () {
      $(this).toggleClass("card--expandido");
      $(this).animate({ scrollTop: 0 }, "slow");
    });
  </script>
</body>

</html>